<section class='dodaj'>
    <div class="container">
        <form action="" ng-model="kwiat">
            <input type="text" ng-model="kwiat.name" class="form-control">
            <input type="text" ng-model="kwiat.price" class="form-control">
            <input type="text" ng-model="kwiat.description" class="form-control">
            <input type="text" ng-model="kwiat.photo" class="form-control">
                <button class="btn-default" ng-click="dodajj(kwiat)">Dodaj</button>
        </form>
    </div>
</section>
