
    <div class="container main_icon" style="margin-top: -10%">
        <div ng-mouseover="hide('1')" ng-mouseleave="show()" class="col-md-3  wow fadeInDown boxx boxx_1">
            <a class="selected">
                <div class="shadow"></div>

                <h3 class='roze'>Róże</h3>
                <img src="/assets/img/4.jpg" alt="" class="img-responsive"></a>
        </div>
        <div ng-mouseover="hide('2')" ng-mouseleave="show()" class="col-md-3 wow fadeInDown boxx boxx_2" data-wow-delay=".2s">
            <a>
                <div class="shadow"></div>

                <h3>Bukiety</h3>
                <img src="/assets/img/7.jpg" alt="" class="img-responsive"></a>
        </div>
        <div ng-mouseover="hide('3')" ng-mouseleave="show()" class="col-md-3 wow fadeInDown boxx boxx_3" data-wow-delay=".3s">
            <a>
                <div class="shadow"></div>

                <h3>Kosze kwiatowe</h3>
                <img src="/assets/img/3.jpg" alt="" class="img-responsive"></a>
        </div>
        <div ng-mouseover="hide('4')" ng-mouseleave="show()" class="col-md-3 wow fadeInDown boxx boxx_4" data-wow-delay=".4s">
            <a>
                <div class="shadow"></div>
                <h3>Kreator bukietów</h3>
                <img src="/assets/img/8.jpg" alt="" class="img-responsive"></a>
        </div>
        <div  class="clearfix" style="margin-bottom: 35px"></div>

        <div ng-mouseover="hide('5')" ng-mouseleave="show()" class="col-md-3 wow fadeInDown boxx boxx_5" data-wow-delay=".1s">
            <a>
                <div class="shadow"></div>
                <h3>Florystyka ślubna</h3>
                <img src="/assets/img/6.jpg" alt="" class="img-responsive"></a>
        </div>
        <div ng-mouseover="hide('6')" ng-mouseleave="show()" class="col-md-3 wow fadeInDown boxx boxx_6" data-wow-delay=".2s">
            <a>
                <div class="shadow"></div>

                <h3>Florystyka Żałobna</h3>
                <img src="/assets/img/5.jpg" alt="" class="img-responsive"></a>
        </div>
        <div ng-mouseover="hide('7')" ng-mouseleave="show()" class="col-md-3 wow fadeInDown boxx boxx_7" data-wow-delay=".3s">
            <a>
                <div class="shadow"></div>

                <h3>Kompleksowa opieka nad grobami</h3>
                <img src="/assets/img/1.jpg" alt="" class="img-responsive"></a>
        </div>
        <div ng-mouseover="hide('8')" ng-mouseleave="show()" class="col-md-3 wow fadeInDown boxx boxx_8" data-wow-delay=".4s">
            <a>
                <div class="shadow"></div>

                <h3>Prezenty</h3>
                <img src="/assets/img/2.jpg" alt="" class="img-responsive"></a>
        </div>
    </div>

<div class="clearfix"></div>
  <aside class="box_info" style="margin-top: 100px;">
        <div class="container text-center">
            <h2 class=" wow fadeInDown">Baner o sezonowości kwiatów?</h2>
            <p class=" wow fadeInDown" data-wow-delay=".2s">Pellentesque pharetra purus vel faucibus rutrum</p>
            <a data-wow-delay=".4s" href="#" class="btn btn-orange wow fadeInDown">Czytaj więcej</a>
        </div>
    </aside>
<!-- <div id="home" class="home"></div>
<section class="bg-primary" id="about" style="background: #fff;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">We've got what you need!</h2>
                    <hr class="light">
                    <p class="text-faded">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
                    <a href="#" class="btn btn-default btn-xl">Get Started!</a>
                </div>
            </div>
        </div>
</section>

<section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Kuba</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center wow bounceInLeft">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond  text-primary"></i>
                        <h3>Sturdy Templates</h3>
                        <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center wow bounceInLeft">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Ready to Ship</h3>
                        <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Up to Date</h3>
                        <p class="text-muted">We update dependencies to keep things fresh.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">You have to make your websites with love these days!</p>
                    </div>
                </div>
            </div>
        </div>
</section> -->

    <section class="no-padding" id="portfolio">
        <div class="container">
            <h2 class="text-center" style="color: #FF0000">NOWOŚCI</h2>
            <hr style="border-color: #FF0000; border-width: 2px">
            <div class="row">
                <div class="col-lg-4 col-sm-6 kwiat wow fadeInDown" data-wow-delay=".{{$index + 1}}s" ng-repeat="kwiat in kwiaty | orderBy: 'id' | limitTo: 3 " style="margin-bottom: 30px">
                    <a href="#/produkt/{{kwiat._id}}" class="portfolio-box">
                        <img class="img-responsive"  ng-src="/assets/img/produkt/{{kwiat.photo}}" alt="">
                        <h3 class="title_product">
                            {{kwiat.name}} <br>
                            {{kwiat.price}} zł
                        </h3>
                    </a>
                    <div class="button">
                        <a ng-click="dodaj(kwiat)">DODAJ DO KOSZYKA</a>
                    </div>
                </div>
            </div>
            <h2 class="text-center" style="color: #FF0000; margin-top: 100px;">POLECANE</h2>
            <hr style="border-color: #FF0000; border-width: 2px">
            <div class="row">
                <div class="col-lg-4 col-sm-6 kwiat wow fadeInDown" ng-repeat="kwiat in kwiaty  | orderBy: '-id' | limitTo: 3" data-wow-delay=".{{$index + 1}}s" style="margin-bottom: 30px">
                    <a href="#/produkt/{{kwiat._id}}" class="portfolio-box">
                        <img class="img-responsive"  ng-src="/assets/img/produkt/{{kwiat.photo}}" alt="">
                        <h3 class="title_product">
                            {{kwiat.name}} <br>
                            {{kwiat.price}} zł
                        </h3>
                    </a>
                    <div class="button">
                        <a ng-click="dodaj(kwiat)">DODAJ DO KOSZYKA</a>
                    </div>
                 </div>
            </div>
        </div>
    </section>



