<header style="height: 100%;">
    <div id="myCarousel" >
        <div class="container header_box" style="padding-top: 10%;  z-index: 9999;">
            <h1  class="wow fadeInDown">Czas realizacji zleceń:</h1>
            <div   class="col-md-4">
                <div class="col-md-12 wow fadeInDown">
                    <strong>Bielsko-Biała</strong> <br>
                    <strong> 1-3 h</strong>
                </div>
            </div>
            <div    class="col-md-4">
                <div class="col-md-12 wow fadeInDown">
                    <strong>Polska</strong> <br>
                    <strong>do 24 h</strong>
                </div>
            </div>
            <div  class="col-md-4">
                <div class="col-md-12 wow fadeInDown">
                    <strong>Cały świat</strong> <br>
                    <strong> 24-48 h</strong>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="white-shadow"></div>
    <div class="container main_icon" style="margin-top: -10%">
        <div ng-mouseover="hide('1')" ng-mouseleave="show()" class="col-md-3  wow fadeInDown boxx boxx_1">
            <a class="selected">
                <div class="shadow"></div>

                <h3 class='roze'>Róże</h3>
                <img src="assets/img/4.jpg" alt="" class="img-responsive"></a>
        </div>
        <div ng-mouseover="hide('2')" ng-mouseleave="show()" class="col-md-3 wow fadeInDown boxx boxx_2" data-wow-delay=".2s">
            <a>
                <div class="shadow"></div>

                <h3>Bukiety</h3>
                <img src="assets/img/7.jpg" alt="" class="img-responsive"></a>
        </div>
        <div ng-mouseover="hide('3')" ng-mouseleave="show()" class="col-md-3 wow fadeInDown boxx boxx_3" data-wow-delay=".3s">
            <a>
                <div class="shadow"></div>

                <h3>Kosze kwiatowe</h3>
                <img src="assets/img/3.jpg" alt="" class="img-responsive"></a>
        </div>
        <div ng-mouseover="hide('4')" ng-mouseleave="show()" class="col-md-3 wow fadeInDown boxx boxx_4" data-wow-delay=".4s">
            <a>
                <div class="shadow"></div>
                <h3>Kreator bukietów</h3>
                <img src="assets/img/8.jpg" alt="" class="img-responsive"></a>
        </div>
        <div  class="clearfix" style="margin-bottom: 35px"></div>

        <div ng-mouseover="hide('5')" ng-mouseleave="show()" class="col-md-3 wow fadeInDown boxx boxx_5" data-wow-delay=".1s">
            <a>
                <div class="shadow"></div>
                <h3>Florystyka ślubna</h3>
                <img src="assets/img/6.jpg" alt="" class="img-responsive"></a>
        </div>
        <div ng-mouseover="hide('6')" ng-mouseleave="show()" class="col-md-3 wow fadeInDown boxx boxx_6" data-wow-delay=".2s">
            <a>
                <div class="shadow"></div>

                <h3>Florystyka Żałobna</h3>
                <img src="assets/img/5.jpg" alt="" class="img-responsive"></a>
        </div>
        <div ng-mouseover="hide('7')" ng-mouseleave="show()" class="col-md-3 wow fadeInDown boxx boxx_7" data-wow-delay=".3s">
            <a>
                <div class="shadow"></div>

                <h3>Kompleksowa opieka nad grobami</h3>
                <img src="assets/img/1.jpg" alt="" class="img-responsive"></a>
        </div>
        <div ng-mouseover="hide('8')" ng-mouseleave="show()" class="col-md-3 wow fadeInDown boxx boxx_8" data-wow-delay=".4s">
            <a>
                <div class="shadow"></div>

                <h3>Prezenty</h3>
                <img src="assets/img/2.jpg" alt="" class="img-responsive"></a>
        </div>
    </div>

<div class="clearfix"></div>
  <aside class="box_info" style="margin-top: 100px;">
        <div class="container text-center">
            <h2 class=" wow fadeInDown">Baner o sezonowości kwiatów?</h2>
            <p class=" wow fadeInDown" data-wow-delay=".2s">Pellentesque pharetra purus vel faucibus rutrum</p>
            <a data-wow-delay=".4s" href="#" class="btn btn-orange wow fadeInDown">Czytaj więcej</a>
        </div>
    </aside>
    <section class="no-padding" id="portfolio">
        <div class="container">
            <h2 class="text-center" style="color: #FF0000">NOWOŚCI</h2>
            <hr style="border-color: #FF0000; border-width: 2px">
            <div class="row">
                <div class="col-lg-4 col-sm-6 kwiat wow fadeInDown" data-wow-delay=".{{$index + 1}}s" ng-repeat="kwiat in kwiaty | orderBy: 'id' | limitTo: 3 " style="margin-bottom: 30px">
                    <a href="#/produkt/{{kwiat._id}}" class="portfolio-box">
                        <img class="img-responsive"  ng-src="assets/img/produkt/{{kwiat.photo}}" alt="">
                        <h3 class="title_product">
                            {{kwiat.name}} <br>
                            {{kwiat.price}} zł
                        </h3>
                    </a>
                    <div class="button">
                        <a ng-click="dodaj(kwiat)">DODAJ DO KOSZYKA</a>
                    </div>
                </div>
            </div>
            <h2 class="text-center" style="color: #FF0000; margin-top: 100px;">POLECANE</h2>
            <hr style="border-color: #FF0000; border-width: 2px">
            <div class="row">
                <div class="col-lg-4 col-sm-6 kwiat wow fadeInDown" ng-repeat="kwiat in kwiaty  | orderBy: '-id' | limitTo: 3" data-wow-delay=".{{$index + 1}}s" style="margin-bottom: 30px">
                    <a href="#/produkt/{{kwiat._id}}" class="portfolio-box">
                        <img class="img-responsive"  ng-src="assets/img/produkt/{{kwiat.photo}}" alt="">
                        <h3 class="title_product">
                            {{kwiat.name}} <br>
                            {{kwiat.price}} zł
                        </h3>
                    </a>
                    <div class="button">
                        <a ng-click="dodaj(kwiat)">DODAJ DO KOSZYKA</a>
                    </div>
                 </div>
            </div>
        </div>
    </section>



