
    <aside class="flower_big">

    </aside>
    <aside class="box_info">
        <div class="container text-center">
            <h2 class=" wow fadeInDown">Spraw radość swoim bliskim.</h2>
            <p class=" wow fadeInDown" data-wow-delay=".2s">Pellentesque pharetra purus vel faucibus rutrum</p>
            <a data-wow-delay=".4s" href="#" class="btn btn-orange wow fadeInDown">Czytaj więcej</a>
        </div>
    </aside>
    <aside class="social">
        <div class="container">
            <div class="col-md-3 text-center wow zoomInDown">
                <a href="#"><img src="/assets/img/social-facebook.png" alt="" style="margin: 0 auto;r" class="img-responsive"></a>
            </div>
            <div class="col-md-3 text-center wow zoomInDown" data-wow-delay="0.25s">
                <a href="#"><img src="/assets/img/social-email.png" alt="" style="margin: 0 auto;r" class="img-responsive"></a>
            </div>
            <div class="col-md-3 text-center wow zoomInDown" data-wow-delay="0.5s">
                <a href="#"><img src="/assets/img/social-gplus.png" alt="" style="margin: 0 auto;r" class="img-responsive"></a>
            </div>
            <div class="col-md-3 text-center wow zoomInDown" data-wow-delay="0.75s">
                <a href="#"><img src="/assets/img/social-instagram.png" alt="" style="margin: 0 auto;r" class="img-responsive"></a>
            </div>
        </div>
    </aside>
 <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-4 wow bounceInLeft ft" >
                    <img src="/assets/img/logo.png" class="img-responsive text-center" style="width: 250px;" alt="">
                    <p class="josefin" style="margin-top: 20px;font-size: 14px;">Kwiaciarnia bielsko, kwiaty bielsko, kwiaty z dowozem, kwiaty na telefon 24h bielsko biała, poczta kwiatowa bielsko, kwiaty przez internet, kwiaty online
                    </p>
                </div>
                <div class="col-md-2 wow bounceInLeft ft" >

                   <p style="margin-top: 84px;font-size: 14px;">
                       <a href="#">Regulaminy</a><br>
                       <a href="#">Terminy i warunki doręczeń</a><br>
                       <a href="#">FAQ - Pytania, wskazówki</a><br>
                   </p>
                </div>
              <div class="col-md-3 wow bounceInRight ft">
                    <h3>Dane kontaktowe:</3>
                    <p style="font-size: 14px; margin-top: 30px">ul. Św. Andrzeja Boboli, 43-316 Bielsko-Biała <br>(w/w Szpiatala Wojewódzkiego) <br>
                       <i class="fa fa-phone-square" style="color: #fff"></i> 0-502-529-334 <br>
                       <i class="fa fa-phone-square" style="color: #fff"></i> 0-504-513-011 <br>
                       <i style="color: #fff" class="fa fa-envelope"></i> kwiaty24baobab@vp.pl </p>
                </div>
                <div class="col-md-3 wow bounceInRight ft">
                    <div class="col-md-6" style="padding-left: 0px; margin-bottom: 13px;"><img src="/assets/img/1.png" class="img-responsive"  alt=""></div>
                    <div class="col-md-6" style="padding-left: 0px; margin-bottom: 13px;"><img src="/assets/img/2.png" class="img-responsive"  alt=""></div>
                    <div class="clearfix"></div>
                    <div class="col-md-6" style="padding-left: 0px;"><img src="/assets/img/3.png" class="img-responsive"  alt=""></div>
                    <div class="col-md-6" style="padding-left: 0px;"><img src="/assets/img/4.png" class="img-responsive"  alt=""></div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <p class="pull-right wow fadeIn">Copyright 2016 Baobab, All Right Reserved | Strona stworzona przez Surprise.Design</p>
        </div>
    </footer>