<header style="height: 100%;">
    <div id="myCarousel" >
         <div class="container header_box" style="padding-top: 10%;  z-index: 9999;">
            <div class="col-md-6 col-md-offset-6 nag wow fadeInDown" >
                               <h1>Kontakt z nami</h1>
                        </div>
        </div>
    </div>
</header>
<div class="white-shadow"></div>
<div class="container">
    <div class="row">   
        <div class="col-md-6 col-xs-12 adres">
            <h2> Godziny pracy:</h2>
            <li>
                Poniedziałek - Piątek - 9:00-17:00
            </li>
            <li>
                Sobota - 10:00-15:00
            </li>
            <li>
                Niedziela - 10:00-14:00
            </li>
            <h2>Nasz adres:</h2>
            <p>ul. Św. Andrzeja Boboli</p> 
            <p>43-316 Bielsko-Biała</p>
            <p>(w/w Szpiatala Wojewódzkiego)</p>
            <p>e-mail: kwiaty24baobab@vp.pl</p>
            <p>tel. 0-504 513 011 , 0-502 529 334</p>
            </div>        
        <div ng-controller="KontaktCtrl" class="panel-body col-md-6 col-xs-12">
            <form ng-submit="submit(contactform)" name="contactform" method="post" class="form-horizontal" role="form">
                <div class="form-group" ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
                    <div class="col-lg-10">
                        <input ng-model="formData.inputName" type="text" class="form-control" id="inputName" name="inputName" placeholder="Imię i nazwisko nadawcy"
                        required>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
                    <div class="col-lg-10">
                        <input ng-model="formData.inputEmail" type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Adres email do korespondencji"
                        required>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': contactform.inputNumber.$invalid && submitted }">
                    <div class="col-lg-10">
                        <input ng-model="formData.inputNumber" type="text" class="form-control" id="inputNumber" name="inputNumber" placeholder="Numer kontaktowy"
                        required>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': contactform.inputSubject.$invalid && submitted }">
                    <div class="col-lg-10">
                        <input ng-model="formData.inputSubject" type="text" class="form-control" id="inputSubject" name="inputSubject" placeholder="Temat wiadomości"
                        required>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
                    <div class="col-lg-10">
                        <textarea ng-model="formData.inputMessage" class="form-control" rows="6" id="inputMessage" name="inputMessage" placeholder="Treść..."
                        required></textarea>
                    </div>
                </div>
               
                <button type="submit" class="buttonSend btn btn-default" ng-disabled="submitButtonDisabled">
                    Wyślij
                </button>

            </form>
            <p ng-class="result" style="padding: 15px; margin: 0;">{{ resultMessage }}</p>
        </div>
    </div>
</div>
    </div>
<div class="row">
    <div class="col-md-offset-1 col-md-3">
        <h1>Jak nas znaleźć</h1>
    </div>
</div>
</div>
<div id='map_canvas' ng-controller="KontaktCtrl">

    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
        <ui-gmap-marker idkey="marker.id" coords="marker.coords" options="marker.options" events="marker.events">
            <ui-gmap-window show="windowOptions">
                <div><strong>{{title}}<br>{{adress}}<br>{{phone}}<br>{{nip}}</strong></div>
            </ui-gmap-window>
        </ui-gmap-marker>
    </ui-gmap-google-map>
</div>