<header style="height: 100%;">
        <div id="myCarousel" >
            <div class="col-md-8 col-md-offset-2 info_box wow fadeInDown" >
                           <p>Nasza nazwa nawiązuje do drzewa <strong>BAOBAB</strong>, jednej z najstarszych <br> i <strong>najbardziej niezwykłych roślin </strong> na ziemi! I własnie takim magicznym miejscem jest nasza kwiaciarnia.</p>
            </div>
            <!--<carousel interval="myInterval" no-wrap="noWrapSlides">
              <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                    <div class="container header_box" style=" margin-top: -50%;  z-index: 9999;">
                        <h1  ng-show="currentPath == '/'" class="wow fadeInDown">Czas realizacji zleceń:</h1>
                        <div  ng-show="currentPath == '/'" class="col-md-4">
                            <div class="col-md-12 wow fadeInDown">
                                <strong>Bielsko-Biała</strong> <br>
                                <strong> 1-3 h</strong>
                            </div>
                        </div>
                        <div  ng-show="currentPath == '/'"  class="col-md-4">
                            <div class="col-md-12 wow fadeInDown">
                                <strong>Polska</strong> <br>
                                <strong>do 24 h</strong>
                            </div>
                        </div>
                        <div ng-show="currentPath == '/'" class="col-md-4">
                            <div class="col-md-12 wow fadeInDown">
                                <strong>Cały świat</strong> <br>
                                <strong> 24-48 h</strong>
                            </div>
                        </div>
                        
                        <div ng-show="currentPath == '/galeria'" class="col-md-6 col-md-offset-6 nag wow fadeInDown" >
                               <h1>Galeria kwiatów</h1>
                        </div>
                         <div ng-show="currentPath == '/sposob-platnosci'" class="col-md-6 col-md-offset-6 nag wow fadeInDown" >
                               <h1>Sposób płatności</h1>
                        </div>
                         <div ng-show="currentPath == '/kontakt'" class="col-md-6 col-md-offset-6 nag wow fadeInDown" >
                               <h1>Skontaktuj się z nami</h1>
                        </div>
                    </div>

              </slide>

            </carousel>-->
        </div>

    </header>
    <div class="white-shadow"></div>
<section class='about-us'>
    <div class="container">
        <p class="text-center wow fadeInLeft">Cechuje nas terminowość, punktualność i wygodne formy rozliczeń oraz dyskrecja i ochrona prywatności.</p>
        <p class="col-md-8 col-md-offset-2 wow fadeInLeft" style="text-align: right;"> <br>

            Na terenie Bielska-Białej <strong>  od 1 do 3 godzin</strong><br>
            Na terenie kraju  <strong> do 24 godzin</strong><br>
            Do większości krajów Europy i Świata  <strong> od 24 do 48 godzin</strong></p>
    </div>
    <div id="onas" class="home" style="height: 400px; width: 100%;">
        <p class='text-center'><strong>POCZTA KWIATOWA KWIACIARNI BAOBAB PRZYJMUJE</strong> <br>
        <span>ZLECENIA CAŁODOBOWO, 24H/7.</span></p>
    </div>
    <div class="container last_box  wow fadeInUp">
        <h2 class='text-center'>Kwiaciarnia wysyłkowa BAOBAB istnieje <br /> w Bielsku-Białej od 2004 roku.</h2>
       <hr style="border-color: #FF0000; border-width: 2px">
        <p>
            Dzięki profesjonalnej obsłudze, nasza kwiaciarnia wysyłkowa zdobyła gorono wymagających klientów.
            <br><br>
            W trosce o naszych klientów wprowadzliliśmy szeroki wachlarz usług dodatkowych takich jak:
        </p>
        <p>

                <span>- <strong>kwiaty na telefon 24h </strong> - klient zamawia - my realizujemy i dostarczamy na wskazany adres w Bielsku-Białej i okolicy</span><br />
                <span>- <strong>poczta kwiatowa</strong> - wysyłka kwiatów na terenie Polski i do <strong>większości krajów świata</strong></span><br />
                <span>- usługi łączone - np. kwiaty + słodycze + prezent okolicznościowy.</span><br />


        </p>

    </div>
</section>